    {% extends "base.html" %}
    {% load static %}

    {% block title %}Каталог книг{% endblock %}
    {% block content %}
        <div class="container">
            <div class="header">
                <h1><a href="/books">Каталог</a></h1>
            </div>
            <div class="row">
                {% for book in books %}
                    <div class="book col-md-4">
                        <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
                {% endfor %}
            </div>
    {% if previous_date_page and previous_date_page != None  %}
        <a class="button button-primary" href="{% url 'books_date' previous_date_page %}"><--</a>
    {% endif %}
    <a class="button disabled" href="">{{ page }}</a>
    {% if next_date_page and next_date_page != None %}
        <a class="button button-primary" href="{% url 'books_date' next_date_page %}">--></a>
    {% endif %}
    {% endblock %}
        </div>